/* main css */

.main-sider {
    height: 100vh;
    overflow: 'auto';
    background-color: white;
    border-right: 1px solid #f0f0f0;
}

.main-sider .main-sider-avatar {
    display: table;
    margin: 0 auto;
    margin-top: 24px;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

/* generic css */

.no-border {
    border: none;
}

.mt-50 {
    margin-top: 50px;
}